---
---
<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Overview</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner" >
					<p  class="logo">Open Source FPGA Tooling for <strong>Datacenters and Edge</strong></p>
					<nav id="nav">
						<a style="color:white;font-weight:bold;" href="index.html">Home</a>
						<a style="color:white;font-weight:bold;" href="about.html">Overview</a>
						<a style="color:white;font-weight:bold;" href="hls_blog.html">HLS</a>
						<a style="color:white;font-weight:bold;" href="ip_blog.html">IP</a>
						<a style="color:white;font-weight:bold;" href="sim_blog.html">Sim</a>
						<a style="color:white;font-weight:bold;" href="gen_blog.html">Generation</a>
						<a style="color:white;font-weight:bold;" href="prog_blog.html">Prog</a>
						<a style="color:white;font-weight:bold;" href="swruntime_blog.html">SW Runtime</a>
						<a style="color:white;font-weight:bold;" href="rhos_blog.html">RHOS</a>
						<a style="color:white;font-weight:bold;" href="projects.html">Projects</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

			
			
			
			
			
			
		<!-- Three -->
			<section id="three" class="wrapper">
					<header class="align-center">
						<h2>Overview</h2>
					</header>
					<ul>
							{% for post in site.posts %}
								{% if post.category == "overview" %}
								<article style="margin-left:5em;margin-right:5em;border:1px solid grey; padding:1em 1em 1em 1em" >
									<h7><a href="{{ post.url }}">{{ post.article }}</a></h7>
									<br>
									<div style="text-align:right;">
										<p3><b>{{ post.date | date_to_string }} - {{ post.author }}</b></p3>
									</div>
									<p3>{{ post.excerpt }}</p3>
									<div style="text-align:right;margin-top:-2em">
										<p3 ><a href="{{ post.url }}">Read More</a></p3>
									<div style="text-align:right;">
									</article>
							{% endif %}
							{% endfor %}
						</ul>
			</section>

			
			
			
			
			
			
			
			
			
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="copyright">
						&copy; Design adapted from: <a href="https://templated.co">TEMPLATED</a>
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
